---
import PrivacyLayout from "@/layouts/PrivacyLayout.astro";
---

<PrivacyLayout>
  <Fragment slot="head">
    <link rel="icon" type="image/png" href="/Ferrite.png" />
    <title>Ferrite | Privacy Policy</title>
  </Fragment>
  <p>This is the privacy policy for the Ferrite iOS/iPad OS application.</p>
  <h2>In short</h2>
  <p>Ferrite and the developer (kingbri) do not collect your data. Period.</p>
  <h2>Why?</h2>
  <p>
    Ferrite is an app meant to run locally on your iDevice. The only contents pulled from the
    internet are plugins that you, the user, install on the app.
  </p>
  <br />
  <br />
  <p>
    Due to the app being free and open source (FOSS), you can view
    <a href="https://github.com/Ferrite-iOS/Ferrite">the code</a>
    and see that the app physically cannot collect your data.
  </p>
  <h2>Does this comply with COPPA?</h2>
  <p>
    Yes, Ferrite does comply with the Children&apos;s Online Privacy Protection Act. Personal
    information is not collected from anyone which includes individuals under the age of 13.
  </p>
  <h3>Contact the developer</h3>
  <p>
    If you have any questions with this Privacy Policy, please contact me using any of the methods
    from{" "}
    <a href="https://kingbri.dev/socials">https://kingbri.dev/socials</a>
  </p>
</PrivacyLayout>
