---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
  <Fragment>
    <head slot="header">
      <title>404</title>
    </head>
    <div class="flex flex-col min-h-screen justify-center">
      <div class="inline-flex flex-grow lg:flex-grow-0 flex-col text-center justify-center">
        <!-- <h1 class="font-header text-yellow-300 text-7xl mb-12">404.</h1> -->
        <img
          src="https://http.cat/404"
          class="w-xs self-center mb-12"
          alt=""
        />
        <h2 class="font-navigation font-bold text-3xl lg:text-5xl mb-12">
          Looks like that page couldn&apos;t be found.
        </h2>
      </div>
      <div class="self-center mb-8 lg:mb-0">
        <button
          id="back-button"
          class="mt-auto border-solid border-2 border-whitesmoke rounded-xl p-3 font-bold font-navigation text-3xl hover:text-black hover:bg-whitesmoke duration-200"
        >
          Take me back!
        </button>
      </div>
    </div>
  </Fragment>
</MainLayout>

<script>
  document.getElementById('back-button')?.addEventListener('click', () => {
    window.history.back();
  })
</script>
