---
import { Image } from "astro:assets";
import asobiIcon from "@public/Asobi.png";
import downloadAppStoreLogo from "@/assets/DownloadAppStore.svg";
import Separator from "@/components/utils/separator.astro";
import SocialButtons from "@/components/utils/socialButtons.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <Fragment slot="head">
    <meta property="og:title" content="Asobi" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kingbri.dev/asobi" />
    <meta property="og:description" content="An immersive browser for iOS, iPadOS, and Macs" />
    <meta name="Description" content="An immersive browser for iOS, iPadOS, and Macs" />
    <meta property="og:image" content="https://kingbri.dev/Asobi.png" />
    <meta name="theme-color" content="#468fcc" />
    <link rel="icon" type="image/png" href="/Asobi.png" />
    <title>Asobi | Home</title>
  </Fragment>
  <div class="relative flex min-h-screen flex-col items-center justify-center tracking-wide">
    <div class="hidden md:block">
      <Separator />
    </div>
    <div class="flex-col text-center">
      <div class="p-5 lg:p-0">
        <Image
          src={asobiIcon}
          alt="The Asobi app icon"
          class="m-auto h-32 w-32 rounded-2xl lg:h-auto lg:w-auto"
        />
      </div>

      <p
        class="text-whitesmoke font-header text-4xl font-bold tracking-wide
        lg:text-6xl lg:leading-relaxed"
      >
        Asobi
      </p>
      <p class="font-paragraph text-whitesmoke mt-4 text-lg lg:text-2xl">
        An immersive browser for iOS, iPadOS, and Macs.
      </p>
    </div>
    <div class="mt-12 mb-16 inline-flex flex-col items-center justify-center">
      <a
        href="https://apps.apple.com/us/app/asobi/id1589812837"
        target="_blank"
        rel="noreferrer noopener"
      >
        <Image
          src={downloadAppStoreLogo}
          alt="Download on the app store"
          class="h-12 w-screen lg:h-16"
        />
      </a>
      <a
        href="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
        class="mt-8 cursor-pointer rounded-md border-2 border-solid border-white p-2
        text-lg duration-200 hover:bg-white hover:text-black"
      >
        Test audio playback
      </a>
      <ul class="mt-4 flex items-center lg:mt-6">
        <SocialButtons include={["github", "discord"]} />
      </ul>
    </div>
    <footer class="max-w-screen text-center">
      &#169; 2021-present kingbri |&nbsp;
      <span>
        <a href="asobi/privacy_policy" class="text-blue-300 underline">Privacy Policy</a>
      </span>
    </footer>
  </div>
</MainLayout>
