---
import { DiscordButton, GithubButton } from '@/components/index/socials';
import { Separator } from '@/components/utils/separator.';
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
  <Fragment>
    <head slot="header">
      <meta property="og:title" content="Asobi" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://kingbri.dev/asobi" />
      <meta property="og:description" content="An immersive browser for iOS, iPadOS, and Macs" />
      <meta name="Description" content="An immersive browser for iOS, iPadOS, and Macs" />
      <meta property="og:image" content="https://kingbri.dev/Asobi.png" />
      <meta name="theme-color" content="#468fcc" />
      <link rel="icon" type="image/png" href="/Asobi.png" />
      <title>Asobi | Home</title>
    </head>
    <div class="flex-col relative justify-center flex min-h-screen items-center tracking-wide">
      <div class="hidden md:block">
        <Separator />
      </div>
      <div class="flex-col text-center">
        <div class="p-5 lg:p-0">
          <img
            src="/Asobi.png"
            alt="The Asobi app icon"
            class="m-auto rounded-2xl w-32 lg:w-auto h-32 lg:h-auto"
          />
        </div>

        <p class="text-whitesmoke font-header text-4xl lg:text-6xl lg:leading-relaxed font-bold tracking-wide">
          Asobi
        </p>
        <p class="mt-4 font-paragraph text-whitesmoke text-lg lg:text-2xl">
          An immersive browser for iOS, iPadOS, and Macs.
        </p>
      </div>
      <div class="mt-12 mb-16 inline-flex flex-col justify-center items-center">
        <a
          href="https://apps.apple.com/us/app/asobi/id1589812837"
          target="_blank"
          rel="noreferrer noopener">
          <img
            src="/DownloadAppStore.svg"
            alt="Download on the app store"
            class="h-12 lg:h-16 w-screen"
          />
        </a>
        <button class="border-solid border-2 mt-8 text-lg border-white p-2 rounded-md cursor-pointer hover:bg-white hover:text-black duration-200">
          <a href="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4">
            Test audio playback
          </a>
        </button>
        <ul class="mt-4 lg:mt-6 flex items-center">
          <!-- <GithubButton />
          <DiscordButton /> -->
        </ul>
      </div>
      <footer class="text-center max-w-screen">
        &#169; 2021-present kingbri |&nbsp;
        <span>
          <a href="asobi/privacy_policy" class="text-blue-300 underline">
            Privacy Policy
          </a>
        </span>
      </footer>
    </div>
  </Fragment>
</MainLayout>
