---
import MainLayout from "../layouts/MainLayout.astro";
import About from "@/components/index/about.astro";
import Home from "@/components/index/home.astro";
import Socials from "@/components/index/socials.astro";
import Work from "@/components/index/work.astro";
import Separator from "@/components/utils/separator.astro";
---

<MainLayout>
  <Fragment slot="head">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:title" content="kingbri's website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kingbri.dev" />
    <meta
      property="og:description"
      content="My name's Brian. This is my website. I make a lot of cool things.
      Come take a look!"
    />
    <meta
      name="Description"
      content="My name's Brian. This is my website. I make a lot of cool things.
      Come take a look!"
    />
    <meta property="og:image" content="https://kingbri.dev/kingbriLogo.png" />
    <meta name="theme-color" content="#ffd700" />
    <title>kingbri</title>
  </Fragment>
  <Home />
  <Separator id="about" />
  <About />
  <Separator id="work" />
  <Work />
  <Socials />
</MainLayout>
