---
import Separator from "@/components/utils/separator.astro";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <Fragment slot="head">
    <title>RoyalGuard | Privacy Policy</title>
  </Fragment>
  <article class="text-whitesmoke">
    <div class="hidden md:block">
      <Separator />
    </div>
    <div class="filebridge-privacy flex flex-col items-center">
      <h1 class="font-header p-8 text-center text-4xl text-yellow-300 md:text-5xl lg:text-7xl">
        Privacy Policy
      </h1>
      <div
        class="bg-lightbg prose font-paragraph leading-spread inline-flex flex-col
        rounded-xl px-6 py-6 md:max-w-3xl lg:px-10 xl:max-w-4xl"
      >
        <p>This is the privacy policy for the RoyalGuard Discord bot.</p>
        <h2>In short</h2>
        <p>
          RoyalGuard may store a limited amount of your messages and Discord user data for various
          features to function. This user data includes a limited amount of message content, User
          IDs, Role IDs, and Server IDs. No personal information is (or will be) stored.
        </p>
        <h2>Why?</h2>
        <p>
          RoyalGuard utilizes this data for mandatory and optional features such as:
          <ul>
            <li>User warns</li>
            <li>User mutes/timeouts</li>
            <li>Welcome and leave messages</li>
            <li>Automatic role assignment</li>
            <li>Message logging</li>
            <li>Reaction roles</li>
          </ul>
          <br />
          <p>This list will be updated as RoyalGuard gains more features.</p>
          <br />
          <p>
            If a user kicks RoyalGuard from your server, your server data will be preserved for a
            week (in case the user kicked the bot by accident) and then will be automatically
            deleted.
          </p>
          <br />
          Due to RoyalGuard being free and open source (FOSS), you can view&nbsp;
          <a href="https://github.com/kingbri1/RoyalGuard">the code</a>
          &nbsp;and see exactly how RoyalGuard uses your data.{" "}
        </p>
        <h3>Contact the developer</h3>
        <p>
          If you have any questions with this Privacy Policy or want to have your data manually
          removed, please contact me using any of the methods from{" "}
          <a href="https://kingbri.dev/socials">https://kingbri.dev/socials</a>
        </p>
      </div>
    </div>
    <div class="md:hidden">
      <Separator />
    </div>
  </article>
</MainLayout>
