<div
  id="home"
  class="relative flex min-h-screen items-center justify-center border-solid tracking-wide"
>
  <div class="mb-32 text-center lg:mb-0">
    <p class="text-whitesmoke text-4xl font-bold tracking-wide lg:text-6xl lg:leading-relaxed">
      <b>Hi, I&apos;m Brian</b>
    </p>
    <p class="text-whitesmoke mt-8 text-lg lg:text-2xl">
      Future physician. Hobbyist developer. Eastern media enjoyer. Reinventing the wheel.
    </p>
  </div>
  <div class="absolute bottom-0 mb-36 flex w-full justify-center text-center md:mb-8 lg:mb-16">
    <a href="#about">
      <div
        class="button-container border-whitesmoke h-12 w-12 cursor-pointer rounded-full
        border-2 border-solid"
      >
        <div class="arrow down relative m-auto mt-4 h-2 w-2"></div>
      </div>
    </a>
  </div>
</div>
