---
import SocialButtons from '../utils/socialButtons.astro'
import type { SocialName } from '../utils/socialUtils'

interface Props {
  include?: readonly SocialName[];
}

const { include } = Astro.props;
---

<footer id="socials" class="flex justify-center p-8">
  <div class="inline-flex flex-col justify-center">
    <h1 class="text-yellow-300 text-3xl lg:text-4xl text-center font-header font-semibold">
      Social Links
    </h1>

    <ul class="py-10 flex items-center">
      <SocialButtons include={include} />
    </ul>
  </div>
</footer>
