---
import "@fontsource-variable/open-sans";
import "@fontsource-variable/raleway";
import Nav from "@/components/nav/nav.astro";
import "@/styles/index.css";
---

<html lang="en">
  <head>
    <slot name="head" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&family=Raleway&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
