---
interface Props {
  readonly href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="cursor-pointer rounded-md border-2 border-solid border-white p-2
  text-sm duration-200 hover:bg-white hover:text-black lg:text-lg"
>
  <slot />
</a>
