---
/*
  Function for a basic navigation bar element
  Uses AnchorLinks for on-site pages when on the index page
*/

interface Props {
  name: string;
  altName?: string;
  url: string;
}

const { name, altName, url } = Astro.props;
---

<li>
  <a
    href={url}
    class="text-whitesmoke list-button font-navigation relative text-center text-xl
    tracking-wide focus:outline-none lg:text-2xl"
  >
    {
      altName ? (
        <>
          <span class="hidden md:inline-block">{name}</span>
          <span class="md:hidden">{altName}</span>
        </>
      ) : (
        <span class="inline-block">{name}</span>
      )
    }
  </a>
</li>
